In [193]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [192]:
import pandas as pd
df= pd.read_csv("Boston.csv")
df.head()
df2 = df.drop("Unnamed: 0",axis=1)
df2

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [194]:
df2.columns.value_counts

<bound method IndexOpsMixin.value_counts of Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')>

In [195]:
X = df2.iloc[:,:13]

In [169]:
y = df2.iloc[:,13:14]

In [198]:
model = LinearRegression()

In [199]:
from sklearn.model_selection import train_test_split

In [200]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.30)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [202]:
from sklearn import metrics
print('rmse',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

rmse 4.459123397759972

In [206]:
y_test.iloc[8]

medv    50.0
Name: 166, dtype: float64

In [212]:
model.predict([x_test.iloc[100]])

C:\Users\HP\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[20.63684639]])

In [213]:
# save the model to disk
import pickle
filename = 'boston_models.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(x_test, y_test)
#print(result)
loaded_model.predict([x_test.iloc[100]])

C:\Users\HP\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[20.63684639]])